.search-box>input{
    width: 50%;
    height: 40px;
}
.search-button{
    border-left: none;
    margin-left: -90px;
    height: 46px;
    width: 90px;
    background-color: orangered;
}
.search-box{
    margin-top: 50px;
}

.homepage-body{
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto auto  ;
}
.search-box{
    
    grid-column-start:1;
    grid-column-end: 8;
}
.left-sidebar{
    
    background-color: orangered;
    color: white;
    grid-column-start:1;
    grid-column-end:2;
}
.products-container{
    display: grid;
    grid-template-columns: auto auto auto;
   
    grid-column-start:3;
    grid-column-end: 8;
}