.search-box>input{
    width: 50%;
    height: 40px;
}
.search-button{
    border-left: none;
    margin-left: -90px;
    height: 46px;
    width: 90px;
    background-color: orangered;
}
.search-box{
    margin-top: 50px;
}

.homepage-body{
    display: grid;
    grid-template-columns:auto auto auto auto auto auto ;
}
.search-box{
    border: 2px solid red;
    grid-column-start:1;
    grid-column-end: 6;
}
.left-sidebar{
    border: 2px solid black;
    grid-column-start:1;
    grid-column-end: 2;
}
.products-container{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 2px solid orange;
    grid-column-start:2;
    grid-column-end: 7;
}